@{
    ViewBag.Title = "Goals";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<section class="about" style="background-color: transparent">
	<div class="container">
		<div class="row">
			<div class="heading">
				<h2 class="head-title">Aims High School Goals and Philosophy</h2>
				<div class="seprator">
					<div class="icon">
						<i class=" fa fa-graduation-cap fa-2x"></i>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="details">
					<h4>Goals</h4>
					<p>Our goal is to provide an alternative school to high school students at economical cost who, for a variety of reasons, are not benefiting from traditional school settings. By providing small group instruction, we will enable students to meet the high expectations of admissions into the best universities and colleges. A flexible and student-centered learning environment with enhanced learning opportunities and active learning experience will eventually lead to the successful completion of secondary school diploma.</p>

					<h4>Philosophy</h4>
					<p>Aims High School philosophy emphasizes the inclusion of all students, as well as the effective implementation of technology within the classroom. We strive to promote excellence in teaching by respecting the range of learning styles among the students in our classrooms. Every student is unique and has the right to education. Educational success must be achievable by all students, by providing equal opportunities according to their individual needs, interests, abilities and personal goals.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="a-image">
					<img src="~/Images/1-1.png" class="img-responsive" />

				</div>
			</div>
		</div>
	</div>
</section>
