@{
	ViewBag.Title = "Grade 12";
	Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Grade 12    </h3>
			<div class="line"></div>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" style="display: block;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>English, Grade 12, University (ENG4U)
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							This course emphasizes the consolidation of the literacy, communication, and critical and creative thinking skills necessary for success in academic and daily life. Students will analyze a range of challenging literary texts from various periods, countries, and cultures; interpret and evaluate informational and graphic texts; and create oral, written, and media texts in a variety of forms. An important focus will be on using academic language coherently by selecting the reading strategies best suited to particular texts and particular purposes for reading, and developing greater control in writing. The course is intended to prepare students for university, college, or the workplace.
							<h5>Prerequisite: Grade 11 English, University preparation</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingne">
						<h4 class="panel-title">
							<a role="button" style="display: block;" data-toggle="collapse" data-parent="#accordion" href="#collapsene" aria-expanded="true" aria-controls="collapsene">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>English, Grade 12, Workplace (ENG4E)
							</a>
						</h4>
					</div>
					<div id="collapsene" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingne">
						<div class="panel-body">
							This course emphasizes the consolidation of literacy, communication, and critical and creative thinking skills necessary for success in the workplace and in daily life. Students will analyze informational, graphic, and literary texts and create oral, written, and media texts in a variety of forms for workplace-related and practical purposes. An important focus will be on using language accurately and organizing ideas and information coherently. The course is intended to prepare students for the workplace and active citizenship.
							<h5>Prerequisite: Grade 11 English, Workplace preparation</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>English, Grade 12, College (ENG4C)
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							This course emphasizes the consolidation of literacy, communication, and critical and creative thinking skills necessary for success in academic and daily life. Students will analyze a variety of informational and graphic texts, as well as literary texts from various countries and cultures, and create oral, written, and media texts in a variety of forms for practical and academic purposes. An important focus will be on using language with precision and clarity and developing greater control in writing. The course is intended to prepare students for college or the workplace.
							<h5>Prerequisite: Grade 11 English, College preparation</h5>

						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Advanced Functions, Grade 12, University (MHF4U)
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							This course extends students’ experience with functions. Students will investigate the properties of polynomial, rational, logarithmic, and trigonometric functions; develop techniques for combining functions; broaden their understanding of rates of change; and develop facility in applying these concepts and skills. Students will also re ne their use of the mathematical processes necessary for success in senior mathematics. This course is intended both for students taking the Calculus and Vectors course as a prerequisite for a university program and for those wishing to consolidate their understanding of mathematics before proceeding to any one of a variety of university programs.
							<h5>Prerequisite: Functions, Grade 11, University preparation, or Mathematics for College Technology, Grade 12, College preparation </h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingFour">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Calculus and Vectors, Grade 12, University (MCV4U)
							</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						<div class="panel-body">
							This course builds on students’ previous experience with functions and their developing understanding of rates of change. Students will solve problems involving geometric and algebraic representations of vectors and representations of lines and planes in three-dimensional space; broaden their understanding of rates of change to include the derivatives of polynomial, sinusoidal, exponential, rational, and radical functions; and apply these concepts and skills to the modeling of real-world relationships. Students will also re ne their use of the mathematical processes necessary for success in senior mathematics. This course is intended for students who choose to pursue careers in fields such as science, engineering, economics, and some areas of business, including those students who will be required to take a university-level calculus, linear algebra, or physics course.
							<h5>Prerequisite: Advanced Functions, Grade 12, University preparation, must be taken prior to or concurrently with Calculus and Vectors.</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Mathematics of Data Management, Grade 12, University (MDM4U)
							</a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
						<div class="panel-body">
							This course broadens students’ understanding of mathematics as it relates to managing data. Students will apply methods for organizing and analyzing large amounts of information; solve problems involving probability and statistics; and carry out a culminating investigation that integrates statistical concepts and skills. Students will also re ne their use of the mathematical processes necessary for success in senior mathematics. Students planning to enter university programs in business, the social sciences, and the humanities will and this course of particular interest.
							<h5>Prerequisite: Functions, Grade 11, University preparation, or Functions and Applications, Grade 11, University/College preparation</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingSix">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Mathematics for College Technology, Grade 12, College (MCT4C)
							</a>
						</h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
						<div class="panel-body">
							This course enables students to extend their knowledge of functions. Students will investigate and apply properties of polynomial, exponential, and trigonometric functions; continue to represent functions numerically, graphically, and algebraically; develop facility in simplifying expressions and solving equations; and solve problems that address applications of algebra, trigonometry, vectors, and geometry. Students will reason mathematically and communicate their thinking as they solve multi-step problems. This course prepares students for a variety of college technology programs.
							<h5>Prerequisite: Functions and Applications, Grade 11, University/College preparation, or Functions, Grade 11, University preparation</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingSeven">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Foundations for College Mathematics, Grade 12, College (MAP4C)
							</a>
						</h4>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
						<div class="panel-body">
							This course enables students to broaden their understanding of real-world applications of mathematics. Students will analyze data using statistical methods; solve problems involving applications of geometry and trigonometry; solve financial problems connected with annuities, budgets, and renting or owning accommodation; simplify expressions; and solve equations. Students will reason mathematically and communicate their thinking as they solve multi-step problems. This course prepares students for college programs in areas such as business, health sciences, and human services, and for certain skilled trades.
							<h5>Prerequisite: Foundations for College Mathematics, Grade 11, College preparation, or Functions and Applications, Grade 11, University/College preparation</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingEight">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Biology, Grade 12, University (SBI4U)
							</a>
						</h4>
					</div>
					<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
						<div class="panel-body">
							This course provides students with the opportunity for in-depth study of the concepts and processes that occur in biological systems. Students will study theory and conduct investigations in the areas of biochemistry, metabolic processes, molecular genetics, homeostasis, and population dynamics. Emphasis will be placed on the achievement of detailed knowledge and the refinement of skills needed for further study in various branches of the life sciences and related fields.
							<h5>Prerequisite: Grade 11 Biology, University preparation</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingNine">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Chemistry, Grade 12, University (SCH4U)
							</a>
						</h4>
					</div>
					<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
						<div class="panel-body">
							This course enables students to deepen their understanding of chemistry through the study of organic chemistry, the structure and properties of matter, energy changes and rates of reaction, equilibrium in chemical systems, and electrochemistry. Students will further develop their problem-solving and investigation skills as they investigate chemical processes, and will re ne their ability to communicate scientific information. Emphasis will be placed on the importance of chemistry in everyday life and on evaluating the impact of chemical technology on the environment.
							<h5>Prerequisite: Grade 11 Chemistry, University preparation</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingTen">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Chemistry, Grade 12, College (SCH4C)
							</a>
						</h4>
					</div>
					<div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
						<div class="panel-body">
							This course enables students to develop an understanding of chemistry through the study of matter and qualitative analysis, organic chemistry, electrochemistry, chemical calculations, and chemistry as it relates to the quality of the environment. Students will use a variety of laboratory techniques, develop skills in data collection and scientific analysis, and communicate scientific information using appropriate terminology. Emphasis will be placed on the role of chemistry in daily life and the effects of technological applications and processes on society and the environment.
							<h5>Prerequisite: Grade 10 Science, Academic or Applied</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingE">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseE" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Physics, Grade 12, University (SPH4U)
							</a>
						</h4>
					</div>
					<div id="collapseE" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingE">
						<div class="panel-body">
							This course enables students to deepen their understanding of physics concepts and theories. Students will continue their exploration of energy transformations and the forces that affect motion, and will investigate electrical, gravitational, and magnetic fields and electromagnetic radiation. Students will also explore the wave nature of light, quantum mechanics, and special relativity. They will further develop their scientific investigation skills, learning, for example, how to analyze, qualitatively and quantitatively, data related to a variety of physics concepts and principles. Students will also consider the impact of technological applications of physics on society and the environment.
							<h5>Prerequisite: Grade 11 physics, University preparation</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingt">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseE" aria-expanded="false" aria-controls="collapset">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Physics, Grade 12, College (SPH4C)
							</a>
						</h4>
					</div>
					<div id="collapset" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingt">
						<div class="panel-body">
							This course develops students’ understanding of the basic concepts of physics. Students will explore these concepts with respect to motion; mechanical, electrical, electromagnetic, energy transformation, hydraulic, and pneumatic systems; and the operation of commonly used tools and machines. They will develop their scientific investigation skills as they test laws of physics and solve both assigned problems and those emerging from their investigations. Students will also consider the impact of technological applications of physics on society and the environment.
							<h5>Prerequisite: Grade 10 Science, Academic or Applied</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function () {
		$('.policy #g12').addClass('active');
		$('.grade12').addClass('active');

	})
</script>
