@{
	ViewBag.Title = "Grade 9";
	Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Grade 9</h3>
			<div class="line"></div>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" style="display: block;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>English, Grade 9, Academic (ENG1D)
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<p>This course is designed to develop the oral communication, reading, writing, and media literacy skills that students need for success in their secondary school academic programs and in their daily lives. Students will analyze literary texts from contemporary and historical periods, interpret informational and graphic texts, and create oral, written, and media texts in a variety of forms. An important focus will be on the use of strategies that contribute to effective communication. The course is intended to prepare students for the Grade 10 academic English course, which leads to university or college preparation courses in Grades 11 and 12.</p>
							<h5>Prerequisite: None</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>English, Grade 9, Applied (ENG1P)
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							This course is designed to develop the key oral communication, reading, writing, and media literacy skills students need for success in secondary school and daily life. Students will read, interpret, and create a variety of informational, literary, and graphic texts. An important focus will be on identifying and using appropriate strategies and processes to improve students’ comprehension of texts and to help them communicate clearly and effectively. The course is intended to prepare students for the Grade 10 applied English course, which leads to college or workplace preparation courses in Grades 11 and 12.
							<h5>Prerequisite: None</h5>

						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Principles of Mathematics, Grade 9, Academic (MPM1D)
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							This course enables students to develop an understanding of mathematical concepts related to algebra, analytic geometry, and measurement and geometry through investigation, the effective use of technology, and abstract reasoning. Students will investigate relationships, which they will then generalize
							as equations of lines, and will determine the connections between different representations of a linear relation. They will also explore relationships that emerge from the measurement of three-dimensional figures and two-dimensional shapes. Students will reason mathematically and communicate their thinking as they solve multi-step problems.

							<h5>Prerequisite: None </h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingFour">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Foundations of Mathematics, Grade 9, Applied (MFM1P)
							</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						<div class="panel-body">
							This course enables students to develop an understanding of mathematical concepts related to introductory algebra, proportional reasoning, and measurement and geometry through investigation, the effective use of technology, and hands-on activities. Students will investigate real-life examples to develop various representations of linear relations, and will determine the connections between the representations. They will also explore certain relationships that emerge from the measurement of three-dimensional figures and two-dimensional shapes. Students will consolidate their mathematical skills as they solve problems and communicate their thinking.
							<h5>Prerequisite: None </h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Science, Grade 9, Academic (SNC1D)
							</a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
						<div class="panel-body">
							This course enables students to develop their understanding of basic concepts in biology, chemistry, earth and space science, and physics, and to relate science to technology, society, and the environment. Throughout the course, students will develop their skills in the processes of scientific investigation. Students will acquire an understanding of scientific theories and conduct investigations related to sustainable ecosystems; atomic and molecular structures and the properties of elements and compounds; the study of the universe and its properties and components; and the principles of electricity.
							<h5>Prerequisite: None  </h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingSix">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Science, Grade 9, Applied (SNC1P)
							</a>
						</h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
						<div class="panel-body">
							This course enables students to develop their understanding of basic concepts in biology, chemistry, earth and space science, and physics, and to apply their knowledge of science to everyday situations. They are also given opportunities to develop practical skills related to scientific investigation. Students will plan and conduct investigations into practical problems and issues related to the impact of human activity on ecosystems; the structure and properties of elements and compounds; space exploration and the components of the universe; and static and current electricity.
							<h5>Prerequisite: None  </h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function () {
		$('.policy #g9').addClass('active');
		$('.grade9').addClass('active');

	})
</script>