@{
	ViewBag.Title = "Grade 10";
	Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Grade 10</h3>
			<div class="line"></div>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" style="display: block;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>English, Grade10, Academic (ENG2D)
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							This course is designed to extend the range of oral communication, reading, writing, and media literacy skills that students need for success in their secondary school academic programs and in their daily lives. Students will analyze literary texts from contemporary and historical periods, interpret and evaluate informational and graphic texts, and create oral, written, and media texts in a variety of forms. An important focus will be on the selective use of strategies that contribute to effective communication. This course is intended to prepare students for the compulsory Grade 11 university or college preparation course.
							<h5>Prerequisite: Grade 9 English, Academic or Applied</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>English, Grade10, Applied (ENG2P)
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							This course is designed to extend the range of oral communication, reading, writing, and media literacy skills that students need for success in secondary school and daily life. Students will study and create a variety of informational, literary, and graphic texts. An important focus will be on the consolidation of strategies and processes that help students interpret texts and communicate clearly and effectively. This course is intended to prepare students for the compulsory Grade 11 college or workplace preparation course.
							<h5>Prerequisite: Grade 9 English, Academic or Applied</h5>

						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Principles of Mathematics, Grade 10, Academic (MPM2D)
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							This course enables students to broaden their understanding of relationships and extend their problem-solving and algebraic skills through investigation, the effective use of technology, and abstract reasoning. Students will explore quadratic relations and their applications; solve and apply linear systems; verify properties of geometric figures using analytic geometry; and investigate the trigonometry of right and acute triangles. Students will reason mathematically and communicate their thinking as they solve multi-step problems.
							<h5>Prerequisite: Grade 9 Mathematics, Academic, or Grade 9 Mathematics Transfer, Applied to Academic </h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingFour">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Foundations of Mathematics, Grade 10, Applied (MFM2P)
							</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						<div class="panel-body">
							This course enables students to consolidate their understanding of linear relations and extend their problem-solving and algebraic skills through investigation, the effective use of technology, and hands-on activities. Students will develop and graph equations in analytic geometry; solve and apply linear systems, using real-life examples; and explore and interpret graphs of quadratic relations. Students will investigate similar triangles, the trigonometry of right triangles, and the measurement of three-dimensional figures. Students will consolidate their mathematical skills as they solve problems and communicate their thinking.
							<h5>Prerequisite: Grade 9 Mathematics, Academic or Applied</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Science, Grade 10, Academic (SNC2D)
							</a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
						<div class="panel-body">
							This course enables students to enhance their understanding of concepts in biology, chemistry, earth and space science, and physics, and of the interrelationships between science, technology, society, and the environment. Students are also given opportunities to further develop their scientific investigation skills. Students will plan and conduct investigations and develop their understanding of scientific theories related to the connections between cells and systems in animals and plants; chemical reactions, with a particular focus on acid–base reactions; forces that affect climate and climate change; and the interaction of light and matter.
							<h5>Prerequisite: Grade 9 Science, Academic or Applied</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingSix">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Science, Grade 10, Applied (SNC2P)
							</a>
						</h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
						<div class="panel-body">
							This course enables students to develop a deeper understanding of concepts in biology, chemistry, earth and space science, and physics, and to apply their knowledge of science in real-world situations. Students are given opportunities to develop further practical skills in scientific investigation. Students will plan and conduct investigations into everyday problems and issues related to human cells and body systems; chemical reactions; factors affecting climate change; and the interaction of light and matter.
							<h5>Prerequisite: Grade 9 Science, Academic or Applied  </h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingEight">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>English, Grade10, Academic (ENG2D)
							</a>
						</h4>
					</div>
					<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
						<div class="panel-body">
							This course is designed to extend the range of oral communication, reading, writing, and media literacy skills that students need for success in their secondary school academic programs and in their daily lives. Students will analyze literary texts from contemporary and historical periods, interpret and evaluate informational and graphic texts, and create oral, written, and media texts in a variety of forms. An important focus will be on the selective use of strategies that contribute to effective communication. This course is intended to
							prepare students for the compulsory Grade 11 university or college preparation course.
							<h5>Prerequisite: Grade 9 English, Academic or Applied  </h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function () {
		$('.policy #g10').addClass('active');
		$('.grade10').addClass('active');

	})
</script>