@{
	ViewBag.Title = "Grade 11";
	Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Grade 11</h3>
			<div class="line"></div>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" style="display: block;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>English, Grade 11, College (ENG3C)
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							This course emphasizes the development of literacy, communication, and critical and creative thinking skills necessary for success in academic and daily life. Students will study the content, form, and style of a variety of informational and graphic texts, as well as literary texts from Canada and other countries, and create oral, written, and media texts in a variety of forms for practical and academic purposes. An important focus will be on using language with precision and clarity. The course is intended to prepare students for the compulsory Grade 12 college preparation course.
							<h5>Prerequisite: Grade 10 English, Applied</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>English, Grade 11, Workplace (ENG3E)
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							This course emphasizes the development of literacy, communication, and critical and creative thinking skills necessary for success in the workplace and in daily life. Students will study the content, form, and style of a variety of contemporary informational, graphic, and literary texts; and create oral, written, and media texts in a variety of forms for practical purposes. An important focus will be on using language clearly and accurately in a variety of formal and informal contexts. The course is intended to prepare students for the compulsory Grade 12 workplace preparation course.
							<h5>Prerequisite: Grade 10 English, Applied</h5>

						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingNine">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNIne" aria-expanded="false" aria-controls="collapseNine">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>English, Grade 11, University (ENG3U)
							</a>
						</h4>
					</div>
					<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
						<div class="panel-body">
							This course emphasizes the development of literacy, communication, and critical and creative thinking skills necessary for success in academic and daily life. Students will analyze challenging literary texts from various periods, countries, and cultures, as well as a range of informational and graphic texts, and create oral, written, and media texts in a variety of forms. An important focus will be on using language with precision and clarity and incorporating stylistic devices appropriately and effectively. The course is intended to prepare students for the compulsory Grade 12 university or college preparation course.
							<h5>Grade 10 English, Academic</h5>

						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Functions, Grade 11, University (MCR3U)
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							This course introduces the mathematical concept of the function by extending students’ experiences with linear and quadratic relations. Students will investigate properties of discrete and continuous functions, including trigonometric and exponential functions; represent functions numerically, algebraically, and graphically; solve problems involving applications of functions; investigate inverse functions; and develop facility in determining equivalent algebraic expressions. Students will reason mathematically and communicate their thinking as they solve multi-step problems.
							<h5>Prerequisite: principles of Mathematics, Grade 10,Academic </h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingFour">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Functions and Applications, Grade 11, University/College (MCF3M)
							</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						<div class="panel-body">
							This course introduces basic features of the function by extending students’ experiences with quadratic relations. It focuses on quadratic, trigonometric, and exponential functions and their use in modeling real-world situations. Students will represent functions numerically, graphically, and algebraically; simplify expressions; solve equations; and solve problems relating to applications. Students will reason mathematically and communicate their thinking as they solve multi-step problems.
							<h5>Prerequisite: principles of Mathematics, Grade 10, Academic, or Foundations of Mathematics, Grade 10,Applied</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Foundations for College Mathematics, Grade 11, College (MBF3C)
							</a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
						<div class="panel-body">
							This course enables students to broaden their understanding of mathematics as a problem solving tool in the real world. Students will extend their understanding of quadratic relations; investigate situations involving exponential growth; solve problems involving compound interest; solve financial problems connected with vehicle ownership; develop their ability to reason by collecting,analyzing, and evaluating data involving one variable; connect probability and statistics; and solve problems in geometry and trigonometry. Students will consolidate their mathematical skills as they solve problems and communicate their thinking.
							<h5>Prerequisite: Foundations of Mathematics, Grade 10, Applied</h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingSix">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Biology, Grade 11, University (SBI3U)
							</a>
						</h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
						<div class="panel-body">
							This course furthers students’ understanding of the processes that occur in biological systems. Students will study theory and conduct investigations in the areas of biodiversity; evolution; genetic processes; the structure and function of animals; and the anatomy, growth, and function of plants. The course focuses on the theoretical aspects of the topics under study, and helps students re ne skills related to scientific investigation.
							<h5>Prerequisite: Grade 10 Science, Academic  </h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingSeven">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Biology, Grade 11, College (SBI3C)
							</a>
						</h4>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
						<div class="panel-body">
							This course focuses on the processes that occur in biological systems. Students will learn concepts and theories as they conduct investigations in the areas of cellular biology, microbiology, genetics, the anatomy of mammals, and the structure of plants and their role in the natural environment. Emphasis will be placed on the practical application of concepts, and on the skills needed for further study in various branches of the life sciences and related fields.
							<h5>Prerequisite: Grade 10 Science, Academic or Applied </h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingEight">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Chemistry, Grade 11, University (SCH3U)
							</a>
						</h4>
					</div>
					<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
						<div class="panel-body">
							This course enables students to deepen their understanding of chemistry through the study of the properties of chemicals and chemical bonds; chemical reactions and quantitative relationships in those reactions; solutions and solubility; and atmospheric chemistry and the behavior of gases. Students will further develop their analytical skills and investigate the qualitative and quantitative properties of matter, as well as the impact of some common chemical reactions on society and the environment.
							<h5>Prerequisite: Grade 10 Science, Academic                            </h5>
						</div>
					</div>
				</div>
				<div class="panel panel-apna">
					<div class="panel-heading" role="tab" id="headingTen">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
								<i class="fa fa-plus-square">&nbsp;&nbsp;</i>Physics, Grade 11, University (SPH3U)
							</a>
						</h4>
					</div>
					<div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
						<div class="panel-body">
							This course develops students’ understanding of the basic concepts of physics. Students will explore kinematics, with an emphasis on linear motion; different kinds of forces; energy transformations; the properties of mechanical waves and sound; and electricity and magnetism. They will enhance their scientific investigation skills as they test laws of physics. In addition, they will analyze the interrelationships between physics and technology, and consider the impact of technological applications of physics on society and the environment.
							<h5>Prerequisite: Grade 10 Science, Academic </h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function () {
		$('.policy #g11').addClass('active');
		$('.grade11').addClass('active');

	})
</script>