
@{
	ViewBag.Title = "ListStudent";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students List</h2>
<hr />
<div class="container">
	<table id="myStudentGrid" class="table">
		<thead>
            <tr>
                <th>FullName</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
		</thead>
		<tfoot>
            <tr>
                <th>FullName</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
		</tfoot>
	</table>
</div>