
@{
    ViewBag.Title = "ListTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Teacher</h2>
<hr />
<div class="container">
    <table id="myTeacherGrid" class="table">
        <thead>
            <tr>
                <th>FullName</th>
                <th>Email</th>
                @*<th>CarrierTrackingNumber</th>
                    <th>OrderQty</th>
                    <th>ProductID</th>
                    <th>UnitPrice</th>*@
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>FullName</th>
                <th>Email</th>
                @*<th>CarrierTrackingNumber</th>
                    <th>OrderQty</th>
                    <th>ProductID</th>
                    <th>UnitPrice</th>*@
            </tr>
        </tfoot>
    </table>
</div>

